#config.cfg - generic config file
   
#online setting
online     =     true    

#health settings
 # character
 pc_health = 10##    sssss
	#enemies
 dog_health=5
 skeleton_health= 6 #one more then a dog
 zombie_health = 20